body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: rgb(22, 19, 19);
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    background-color: white;
    width: 480px;
    height: 480px;
}

h1 {
    font-size: 50px;
    margin-top: 5px;
    color: rgb(10, 176, 218);
}

button {
    width: 100px;
    height: 40px;
    margin: 0 auto;
}